html,body{height:100%;margin:0;padding:0;font-family:Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;}
a:active,a:hover,a:link,a:visited{text-decoration:none;}
p{margin:0;}
.header{height:50px;line-height:50px;margin:0 auto;box-shadow:0 1px 3px #aaa;position:relative;}
.city{	/*background: #ff8400;*/
text-align:center;color:#777;width:50%;height:100%;float:left;box-sizing:border-box;-webkit-box-sizing:border-box;}
.target-city{	/*background: #337AB7;*/
border-left:1px solid #ccc;}
.list{box-shadow:0 1px 3px #ccc;}
.list-cont{background-color:#fff;padding-left:10px;}
.list-title{height:40px;line-height:40px;padding-left:15px;font-size:16px;color:#777;background:#EFEFF4;}
.item{display:-webkit-box;padding:10px 0;border-bottom:1px solid #F0F0F0;}
.item-img{border-radius:2px;width:110px;height:92px;margin-right:10px;border:1px solid #F0F0F0;}
.item-img img{width:100%;height:100%;}
.item-title{font-size:16px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.item-subtitle{font-size:12px;color:#777;overflow:hidden;line-height:18px;margin-top:2px;}
.item-info{margin-top:2px;font-size:12px;color:#333;}
.item-user{margin-top:10px;}
.item-like,.item-comm{background:#FF8400;color:#fff;padding:1px 5px;border-radius:2px;margin-right:10px;}
.item-comm{background:#337ab7;}
.load-ing{display:none;border-bottom:1px solid #F0F0F0;text-align:center;height:45px;line-height:45px;background-color:#fff;color:#666;}
.load-more{display:block;border-bottom:1px solid #F0F0F0;text-align:center;height:45px;line-height:45px;background-color:#fff;color:#666;font-size:16px;}

/* 定位页面 */
.back{padding-left:18px;position:relative;color:#333;display:block;}
.location{line-height:45px;background-color:#FFF;text-align:center;}
.box-city .hd{padding-left:10px;font-size:14px;color:#323232;line-height:30px;background-color:#f2f2f2;border-bottom:1px solid #e2e2e2;font-weight:700;display:block;}
.list-city{margin:0;padding:0;font-size:0;}
.list-city li{box-sizing:border-box;-webkit-box-sizing:border-box;display:inline-block;width:25%;line-height:48px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;text-align:center;color:#323232;font-size:16px;}
.list-city li a{display:block;color:#323232;overflow:hidden;white-space:nowrap;}

/* 详细页面 */
.agent{background:#EFEFF4;}
.agent-img{width:100%;height:auto;}
.agent-img img{width:100%;}
.agent-info{line-height:2em;font-size:16px;color:#333;padding:10px;background:#fff;box-shadow:0 1px 3px #ccc;}
.agent-name{font-weight:700;font-size:18px;}
.agent-detail{border-top:1px solid #ccc;margin-top:0.5em;padding-top:0.5em;}
.agent-tab{padding-left:10px;position:relative;z-index:9;}
.agent-tab li{display:inline-block;padding:5px 10px;color:#337ab7;border:1px solid #337ab7;border-radius:2px;margin-right:5px;}
.agent-tab li.ac{color:#fff;background:#337ab7;}
.agent-tab-box{padding:10px;background:#fff;margin:0;margin-top:-1px;border:1px solid #ccc;}
.agent-recommend ul{overflow:hidden;padding:0;margin:1em 0;}
.agent-recommend li{float:left;margin-bottom:0.5em;width:20%;text-align:center;list-style:none;}
.agent-recommend img{border-radius:50%;width:80%;border:1px solid #ccc;}
.agent-tab-cont{display:none;}
.agent-tab-cont.ac{display:block;}
.agent-comment ul{padding:0;margin:0;}
.agent-comment li{padding:1em 0;border-bottom:1px solid #ccc;margin-bottom:1em;}
.agent-tab-box select{padding:6px 8px;width:50%;display:block;margin:1em 0;}
.agent-tab-box textarea{padding:6px 8px;width:100%;display:block;margin:1em 0;box-sizing:border-box;}
.agent-comment-h1{color:#333;font-size:14px;margin-bottom:1em;}
.submit{padding:5px 10px;width:100%;background:#FF8400;color:#fff;border:0;border-radius:2px;font-size:16px;}