---
layout: default
---

<h1>{{ page.title }}</h1>

<div id="post">
{{ content }}
</div> 

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'john1king'; 
    var disqus_identifier = '{{ page.date | date: "%Y%m%d" }}';
    var disqus_category_id = '1596302';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
